@font-face {
    font-family:chemi fonti;
    src: url("fonti/Inter-VariableFont_slnt\,wght.ttf");
}
.b1 {
    width: 115px;
    height: 36px;
    background-color:#FFD43A ;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 35px;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 30px;
    font-family: chemi fonti;
    color: #000000;
}
.b1:hover {
    background-color: #8CFF98;
    font-family: chemi fonti;
    font-size: 15px;
    font-weight: 500px;
    color: #000000;
}
.b2 {
    width: 285px;
    height: 36px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 35px;
    display: flex;
    color: white;
    font-size: 15px;
    padding-left: 130px;
    padding-top: 10px;
    font-family: chemi fonti;
}
.b2:hover {
    background-color: #D3D3D3;
    font-family: chemi fonti;
    font-size: 15px;
    font-weight: 500px;
    color: #000000;
}
.b3 {
    width: 336px;
    height:36px ;
    background-color:#B43AFF ;
    border: none;
    border-radius: 10px;
    margin-top:12px ;
    margin-left:35px ;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 150px;
    font-family: chemi fonti;
    color: white;
}
.b3:hover {
    background-color: #FF3AE0;
    font-size: 15px;
    font-family: chemi fonti;
}
.b4 {
    width: 441px;
    height: 36px;
    background-color: #E9E9E9;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 35px;
    display: flex;
    padding-top: 10px;
    padding-left: 200px;
    font-family: chemi fonti;
}
.b4:hover {
    background-color: #ABABAB;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}
.b5 {
    width: 559px;
    height: 36px;
    background-color: #FFD43A;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 35px;
    display: flex;
    font-size: 15px;
    padding-left: 250px;
    padding-top: 10px;
    font-family: chemi fonti;
}
.b5:hover {
    background-color: #FFD43A;
    border: none;
    border-radius: 30px;
    width: 588px;
    height: 58px;
    font-size: 20px;
}
